@charset "UTF-8";
@font-face {
    font-family: 'futuro';
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

body{
    background-color: #84E1AD ;
    margin: 0;
}

header{
    background-image: linear-gradient( #3DDA84, #185333);
    margin: 0 auto;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

#titulo{
    margin-top: 0;
    padding-top: 0.6em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em
}

p#subtitulo{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}

nav{
    margin-top: 2em;
    margin-bottom: 1em;
}

a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 1.2em;
}

a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    width: 75%;
    height: fit-content;
    margin:auto;
    padding: 0 1.5em;
    display:block;
    overflow: hidden;
}

.info{
    margin-top: 0;
    padding-top: 0.6em;
    font-family: 'futuro';
    color: #266442;
}

p{
    text-align: justify;
    text-indent: 2em;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: #266442;
    font-family: 'futuro';
    background-image: linear-gradient(to right, #2f9e5f54, white);
}

picture img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

div#video{
    background-color: #1A5C38;
    width: 75%;
    margin:auto;
    padding: 0 1.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
}

iframe{
    margin:auto;
    display: block;
    width: 90%;
    height:90%;
}

div#extra{
    background-color: #C5EBD6;
    padding: 0 1em;
    border-radius: 0 0 16px 16px;
    height: fit-content;
    overflow:hidden;
    margin: 0
}

h1#tituloextra{   
    width: 100%;
    margin-bottom: 0;
    padding:0.5em 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

div#headerextra{
    background-color: #2FA866;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0 1em;
    border-radius: 16px 16px 0 0 ;
    height: fit-content;
    overflow: hidden;
    align-items: center;
}

.topicos{
    text-align: left;
    margin: 0.1em 0;
    text-indent: 0;
}

span{
    display: inline-block;
    vertical-align: top;
    margin-right:15%;
    overflow: hidden;
}

footer{
    background-color: #1A5C38;
    width: 100%;
    margin: 1em auto 0 auto;
    overflow: hidden;
    height: fit-content;
}

p#footer{
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer a{
    padding-left: 0;
    color: rgb(214, 255, 236);
}

.linkprincipal{
    color:#185333;
    padding-left: 0;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
